* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: hidden;
  background-color: antiquewhite;
}

.text {
  flex-grow: 1;
  background-color: white;
  overflow: auto;
}